.container {
    flex-flow: row wrap;
    gap: var(--sp-gap)
}

.contactCard {
    flex: 1;
    min-width: 400px;
    height: 200px;
    justify-content: center;
    background-color: var(--color-bg1);

    .buttonText {
        color: var(--color-primary-main);
    }

    h3 {
        padding-bottom: var(--sp-gap-sm);
    }

    .subtitle {
        max-width: 200px;
        padding-bottom: var(--sp-gap);
    }
}

