@font-face {
    font-family: Axiforma;
    src: url('Axiforma-SemiBold.eot');
    src: local('Axiforma SemiBold'), local('Axiforma-SemiBold'),
    url('Axiforma-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Axiforma-SemiBold.woff2') format('woff2'),
    url('Axiforma-SemiBold.woff') format('woff'),
    url('Axiforma-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Axiforma;
    src: url('Axiforma-Regular.eot');
    src: local('Axiforma Regular'), local('Axiforma-Regular'),
    url('Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
    url('Axiforma-Regular.woff2') format('woff2'),
    url('Axiforma-Regular.woff') format('woff'),
    url('Axiforma-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Axiforma;
    src: url('Axiforma-Medium.eot');
    src: local('Axiforma Medium'), local('Axiforma-Medium'),
    url('Axiforma-Medium.eot?#iefix') format('embedded-opentype'),
    url('Axiforma-Medium.woff2') format('woff2'),
    url('Axiforma-Medium.woff') format('woff'),
    url('Axiforma-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Axiforma;
    src: url('Axiforma-Light.eot');
    src: local('Axiforma Light'), local('Axiforma-Light'),
    url('Axiforma-Light.eot?#iefix') format('embedded-opentype'),
    url('Axiforma-Light.woff2') format('woff2'),
    url('Axiforma-Light.woff') format('woff'),
    url('Axiforma-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: Axiforma;
    src: url('Axiforma-Bold.eot');
    src: local('Axiforma Bold'), local('Axiforma-Bold'),
    url('Axiforma-Bold.eot?#iefix') format('embedded-opentype'),
    url('Axiforma-Bold.woff2') format('woff2'),
    url('Axiforma-Bold.woff') format('woff'),
    url('Axiforma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
