.container {
    flex-direction: column;
    width: 100%;
    gap: var(--sp-md);
}

.lineContainer {
    flex-flow: row wrap;
    gap: var(--sp-md);
}

.firstLineContainer {
    height: 400px;
}

.secondLineContainer {
    height: 200px;
}

.firsLineFirstItem {
    flex: 1;
}

.firstLineSecondItem {
    flex: 0.49;
}

.secondLineItems {
    flex: 1
}
