.container {
    flex-direction: column;
    width: 100%;
    gap: var(--sp-gap);
}

.lineContainer {
    flex-flow: row wrap;
    gap: var(--sp-gap);
    width: 100%;
}


.firsLineFirstItem {
    flex: 1;
}

.firstLineSecondItem {
    flex: 0.8;
}

.secondLineItems {
    flex: 1
}
