.container {
  width: 500px;
  height: 400px;

  @media {
    width: 100%;
  }
}

.innerContainer {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  padding-top: var(--sp-md);
  margin-bottom: calc(var(--sp-xl) * -1);
  width: 100%;
  justify-content: flex-end;

  img {
    width: 100%;
  }
}
