.container {
  width: 100%;
  gap: var(--sp-md);
}

.rowContainer {
  flex-direction: row;
  justify-content: space-between;
}

.md {
}

.lg {
  gap: var(--sp-md);
}

.white {
  color: var(--color-base-white);
}

.black {
  color: var(--color-base-black);
}
