.chainsContainer {
  width: 100%;
  flex-flow: row wrap;
  gap: var(--sp-sm);
}

.chainCardContainer {
  width: 110px;
  height: 110px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg1);
  border-radius: 32px;

  img {
    width: 50%;
    height: 50%;
  }
}
