.container {
    flex: 1;
}

.innerContainer {
    min-height: 150px;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: row;
    gap: var(--sp-gap);
    width: 100%;
}

.sendButton {
    padding: var(--sp-md) var(--sp-xxl);
}
