.container {
  border-radius: var(--st-br-card);
  background-color: var(--color-bg1);
  overflow: hidden;
}

.paddingsm {
  padding: var(--sp-sm);
}

.paddingmd {
  padding: var(--sp-md);
}

.paddinglg {
  padding: var(--sp-lg);
}

.paddingxl {
  padding: var(--sp-xl);
}

.paddingxxl {
  padding: var(--sp-xxl);
}

.white {
  background-color: var(--color-base-white);
}

.black {
  background: linear-gradient(211deg, #0f1c2a 3.64%, #120a24 30.75%, #131216 71.22%);
}
