.container {
  width: 100%;
  gap: var(--sp-lg);
  flex-flow: row;
  justify-content: space-between;
}

.titleContainer {
  max-width: 550px;
  gap: var(--sp-lg);
}

.imgContainer {
  min-width: 500px;
  max-width: 650px;
}

.sideContainer {
  gap: var(--sp-lg);
  min-width: 300px;
  justify-content: space-evenly;
}

.buttonsContainer {
  flex-direction: row;
  gap: var(--sp-md);
}
