.container {
  width: 100%;
  gap: var(--sp-xl);
  flex-direction: row;
  justify-content: space-between;
}

.titleContainer {
  max-width: 550px;
  gap: var(--sp-lg);
}

.imgContainer {
  width: 600px;
}

.sideContainer {
  height: 100%;
  justify-content: space-evenly;
}

.buttonsContainer {
  flex-direction: row;
  gap: var(--sp-md);
}
