.container {
    border-radius: var(--st-br-xxl);
    background-color: var(--color-primary);
    color: var(--color-base-white);

    * {
        color: var(--color-base-white);
    }
}

.innerContainer {
    flex-direction: row;
    align-items: center;
    gap: var(--sp-sm);
}

.lg {
    padding: var(--sp-xl);
}

.md {
    padding: var(--sp-sm) var(--sp-sm) var(--sp-sm) var(--sp-md);
}

