.container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--sp-md) var(--sp-xxl);

    .buttonText {
        color: var(--color-primary-main);
    }

    .buttonIcon {
        color: var(--color-primary-main);
        transform: rotate(90deg);
    }
}
