.container {
  height: calc(100vh - 86px);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.titleContainer {
  gap: var(--sp-lg);
  max-width: 500px;
}

.header {
  max-width: 580px;
  font-size: 87px;
  font-weight: 400;
  line-height: 100%;
}

.figureContainer {
  height: 70%;

  img {
    height: 100%;
  }
}
