.container {
  align-items: center;
}

.iconContainer {
  padding: var(--sp-md);
  padding-top: 70px;
  padding-bottom: 50px;

  img {
    height: 100px;
  }
}

.textContainer {
  padding: var(--sp-md);
  padding-top: 0;
  padding-bottom: var(--sp-xxl);
  gap: var(--sp-md);
  max-width: 400px;
  align-items: center;
  text-align: center;

  p {
    line-height: 130%;
  }
}
