.container {
    border-radius: var(--st-br-xxl);
    background-color: var(--color-base-white);
    align-items: center;
    justify-content: center;
}

.icon {
    width: 80%;
    height: 80%;
}

.md {
    width: 32px;
    height: 32px;
}

.lg {

}
